<h1>受注実績管理アプリ</h1>

<article>
<h2>概要</h2>
<p>
  フリーランスのイラストレーターの彼女が、今までメモに実績を手書きしていたので、管理できるアプリを作りました。
  
</p>
<p>
  彼女のためだけに作ったので他の人にはほぼ100%需要がないとおもいますが、どうせならちゃんと使えるものが作りたかったので、作ってみました。
</p>

<h2>使用技術</h2>
<ul>
  <li>Django 3.1.7</li>
  <ul>
    <li>virtualenv</li>
    <li>Pillow</li>
  </ul>
  <!-- <li>Django REST framework</li> -->
  <li>素のJavaScript</li>
</ul>

<h2>機能一覧</h2>
<ul>
  <li>新規登録（サインアップ）</li>
  <li>ログイン / ログアウト</li>
  <li>受注実績のCRUD操作</li>
  <li>実績数、売上額、平均評価の表示</li>
  <li>JavaScriptで料金全てを3桁で,区切り</li>
  <!-- <li>API化 （実績をつくると彼女のHPの方が自動更新される）</li> -->
</ul>

<h2>直したいところ</h2>
<ul>
  <li>フォームのバリデーション</li>
  <li>UI</li>
</ul>


<h3>かかった時間など</h3>
<p>3/7からDjangoの学習をはじめて、機能自体は3/20くらいに完成しました。</p>
<p>そこからデザインとかに無駄に時間がかかったので公開が遅れました（汗）</p>
</article>


<h3>余談</h3>
<p>デザイン、HTMLへの変数の渡し方、DBの操作で手こずった。</p>
<p>それ以外は超スピーディに実装できた。RailsやLaravelはさわったことないが、Djangoの手軽さに感動しました。</p>


<div>
  <a href="{% url 'list' %}">一覧画面に戻る</a>
</div>